
@{
    Layout = null;
}

        <!-- Footer -->
<div class="footer text-muted">
    &copy; 2018. <a href="#">LIMENA Web Applications Management</a> by <a href="#" target="_blank">Francisco Velásquez</a>
</div>
<!-- /footer -->